# Still got stuck - terribly bad
# Source: https://towardsdatascience.com/handling-missing-data-like-a-pro-part-1-deletion-methods-9f451b475429

In [ ]:
import random
import numpy as np
import pandas as pd
#For data exploration
import missingno as msno #A simple library to view completeness of data
import matplotlib.pyplot as plt
from numpy import random
# matplotlib inline

In [ ]:
# Still dont know how to read data from file *.data and *.names to file *.txt or *.csv

df = pd.read_csv('adult_data_Phi.txt')
#df.head()
df

In [ ]:
#Random Seed
random.seed(25)

#Percentage Missing
percentage_missing_1 = 0.15
percentage_missing_2 = 0.10

#Number of Observations
obs = df.shape[0]

#Simulation
df["fnlwgt"] = random.binomial(1,(1-percentage_missing_1), size=obs)*df['fnlwgt']
df["age"] = random.binomial(1,(1-percentage_missing_2), size=obs)*df['age']
df["fnlwgt"] = df["fnlwgt"].replace(0, np.nan)
df["age"]= df["age"].replace(0, np.nan)
msno.matrix(df)

In [ ]:
df10 = df.copy()

# importing the package
import impyute as impy

# imputing the missing value but ensure that the values are in matrix form
df10[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week']] = \
    impy.em(df10[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week']].values, loops=100)

df10

# #Simulate New Comparison Container (So we can separate these new categories)
# comparison_df = pd.concat([orig_df[['age', 'fnlwgt']], X], axis=1)

# #Rename so We can Compare Across Datasets
# comparison_df.columns = ["age_orig", "fnlwgt_orig", "age_MCAR", "fnlwgt_MCAR"]
# cols = comparison_df.columns.to_list()
# comparison_df = pd.concat([comparison_df, df10[['age', 'fnlwgt']]], axis=1)
# comparison_df.columns =  [*cols,'age_EM.imp', 'fnlwgt_EM.imp']

# #View the comparison across dataset
# comparison_df.loc[fnlwgt_missing,["fnlwgt_orig","fnlwgt_MCAR",
#                               'fnlwgt_EM.imp']]

In [ ]:
df11 = df.copy()
# imputing the missing value but ensure that the values are in matrix form
df11[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week']] = \
    np.exp(impy.em(np.log(df10[['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week']].values), loops=100))

# This is good and simple enough. Source: 
# https://joon3216.github.io/research_materials/2019/em_imputation_python.html

# Normalize the values and transform values to z-scores
# https://www.geeksforgeeks.org/scipy-stats-zscore-function-python/

In [94]:
import numpy as np
from scipy import stats
from numpy import nan, array
import pandas as pd

df = pd.read_csv('data.csv')
df
df.info()

# Also fails
df2 = pd.read_csv('data2.csv')
df2

    Unnamed: 0     4    7     9  Unnamed: 4  9.1
0            3   NaN  6.0   5.0         6.0  6.0
1            3  10.0  NaN  10.0         5.0  NaN
2            3   NaN  5.0   7.0         NaN  NaN
3            5   5.0  7.0   NaN         7.0  5.0
4            8   8.0  NaN   NaN         7.0  4.0
5            5   NaN  8.0   5.0         6.0  5.0
6            3   3.0  NaN   5.0         6.0  4.0
7            7   7.0  NaN   4.0         7.0  8.0
8            4   6.0  6.0   4.0         NaN  2.0
9            7   NaN  8.0   5.0         7.0  6.0
10           3   NaN  7.0   4.0         NaN  4.0

In [95]:
# stats.zscore() method  
print ("\nZ-score for df : \n", stats.zscore(df2))

Z-score for df :
 [[-0.8977584          nan         nan         nan         nan         nan]
 [-0.8977584          nan         nan         nan         nan         nan]
 [-0.8977584          nan         nan         nan         nan         nan]
 [ 0.19950187         nan         nan         nan         nan         nan]
 [ 1.84539227         nan         nan         nan         nan         nan]
 [ 0.19950187         nan         nan         nan         nan         nan]
 [-0.8977584          nan         nan         nan         nan         nan]
 [ 1.29676214         nan         nan         nan         nan         nan]
 [-0.34912827         nan         nan         nan         nan         nan]
 [ 1.29676214         nan         nan         nan         nan         nan]
 [-0.8977584          nan         nan         nan         nan         nan]]

# Compute mean and covariance matrix
# Implement the Expectation - Maximization algorithm

In [99]:
from datetime import datetime as dt
import numpy as np
from functools import reduce

In [113]:
def impute_em(X, max_iter = 3000, eps = 1e-08):
    '''(np.array, int, number) -> {str: np.array or int}
    
    Precondition: max_iter >= 1 and eps > 0
    
    Return the dictionary with five keys where:
    - Key 'mu' stores the mean estimate of the imputed data.
    - Key 'Sigma' stores the variance estimate of the imputed data.
    - Key 'X_imputed' stores the imputed data that is mutated from X using 
      the EM algorithm.
    - Key 'C' stores the np.array that specifies the original missing entries
      of X.
    - Key 'iteration' stores the number of iteration used to compute
      'X_imputed' based on max_iter and eps specified.
    '''
    
    nr, nc = X.shape
    C = np.isnan(X) == False
    
    # Collect M_i and O_i's
    one_to_nc = np.arange(1, nc + 1, step = 1)
    M = one_to_nc * (C == False) - 1
    O = one_to_nc * C - 1
    
    # Generate Mu_0 and Sigma_0
    Mu = np.nanmean(X, axis = 0)
    observed_rows = np.where(np.isnan(sum(X.T)) == False)[0]
    S = np.cov(X[observed_rows, ].T)
    if np.isnan(S).any():
        S = np.diag(np.nanvar(X, axis = 0))
    
    # Start updating
    Mu_tilde, S_tilde = {}, {}
    X_tilde = X.copy()
    no_conv = True
    iteration = 0
    while no_conv and iteration < max_iter:
        for i in range(nr):
            S_tilde[i] = np.zeros(nc ** 2).reshape(nc, nc)
            if set(O[i, ]) != set(one_to_nc - 1): # missing component exists
                M_i, O_i = M[i, ][M[i, ] != -1], O[i, ][O[i, ] != -1]
                S_MM = S[np.ix_(M_i, M_i)]
                S_MO = S[np.ix_(M_i, O_i)]
                S_OM = S_MO.T
                S_OO = S[np.ix_(O_i, O_i)]
                Mu_tilde[i] = Mu[np.ix_(M_i)] +\
                    S_MO @ np.linalg.inv(S_OO) @\
                    (X_tilde[i, O_i] - Mu[np.ix_(O_i)])
                X_tilde[i, M_i] = Mu_tilde[i]
                S_MM_O = S_MM - S_MO @ np.linalg.inv(S_OO) @ S_OM
                S_tilde[i][np.ix_(M_i, M_i)] = S_MM_O
        Mu_new = np.mean(X_tilde, axis = 0)
        S_new = np.cov(X_tilde.T, bias = 1) +\
            reduce(np.add, S_tilde.values()) / nr
        no_conv =\
            np.linalg.norm(Mu - Mu_new) >= eps or\
            np.linalg.norm(S - S_new, ord = 2) >= eps
        Mu = Mu_new
        S = S_new
        iteration += 1
    
    result = {
        'mu': Mu,
        'Sigma': S,
        'X_imputed': X_tilde,
        'C': C,
        'iteration': iteration
    }
    
    return result

In [114]:
import numpy as np
from numpy import nan
from numpy.random import rand

# X = np.array([[1,4,nan],[nan,5,6],[7,nan,8]])
#X = df2

X = np.array([[        nan,-0.85597905,-0.85597905,-0.85597905,0.19021757,1.75951249,0.19021757,-0.85597905,1.23641418,-0.33288074,1.23641418, -0.85597905],
       [-0.88904338,         nan,1.60027808,         nan,-0.47415647,0.77050426,         nan,-1.30393029,0.35561735,-0.05926956,nan,nan],
       [ 0.24152295,-0.72456884,         nan,-1.69066062,0.24152295,                nan,1.20761473,         nan,         nan,-0.72456884,1.20761473,  0.24152295],
       [ 1.48841682,-0.3721042,1.95354707,0.55815631,         nan,                nan,-0.3721042,-0.3721042,-0.83723446,-0.83723446,-0.3721042, -0.83723446],
       [        nan,-0.50401613,-1.84805914,         nan,0.84002688,0.84002688,-0.50401613,-0.50401613,0.84002688,         nan,0.84002688,         nan],
       [ 1.79829315,0.34021762,         nan,         nan,-0.14580755,-0.63183273,-0.14580755,-0.63183273,1.31226798,-1.60388308,0.34021762, -0.63183273]])

X

array([[        nan, -0.85597905, -0.85597905, -0.85597905,  0.19021757,
         1.75951249,  0.19021757, -0.85597905,  1.23641418, -0.33288074,
         1.23641418, -0.85597905],
       [-0.88904338,         nan,  1.60027808,         nan, -0.47415647,
         0.77050426,         nan, -1.30393029,  0.35561735, -0.05926956,
                nan,         nan],
       [ 0.24152295, -0.72456884,         nan, -1.69066062,  0.24152295,
                nan,  1.20761473,         nan,         nan, -0.72456884,
         1.20761473,  0.24152295],
       [ 1.48841682, -0.3721042 ,  1.95354707,  0.55815631,         nan,
                nan, -0.3721042 , -0.3721042 , -0.83723446, -0.83723446,
        -0.3721042 , -0.83723446],
       [        nan, -0.50401613, -1.84805914,         nan,  0.84002688,
         0.84002688, -0.50401613, -0.50401613,  0.84002688,         nan,
         0.84002688,         nan],
       [ 1.79829315,  0.34021762,         nan,         nan, -0.14580755,
        -0.63183273, -0.14580755, -0.63183273,  1.31226798, -1.60388308,
         0.34021762, -0.63183273]])

In [117]:
start = dt.now()
result_imputed = impute_em(X)
end = dt.now()

result_imputed

print('The mean matrix is : \n',result_imputed['mu'])

print('The covariance matrix is : \n',result_imputed['Sigma'])

<ipython-input-113-625f8d97d7d4>:28: RuntimeWarning: Degrees of freedom <= 0 for slice
  S = np.cov(X[observed_rows, ].T)

The mean matrix is :
 [ 0.66394607 -0.47965835  0.15831556 -0.7427598   0.13938389  0.65923325
  0.24020017 -0.74400922  0.61003193 -0.7304436   0.71454014 -0.48827469]
The covariance matrix is :
 [[ 0.82602533  0.28563198 -0.18183009  0.43998832  0.15332526 -0.35608767
  -0.49158457  0.24729906 -0.0386651  -0.39015561 -0.36638831 -0.22288625]
 [ 0.28563198  0.16089844  0.05019233  0.10978531 -0.01954318 -0.25393454
  -0.13581225  0.05647512  0.03590498 -0.17758555 -0.13905298 -0.05020494]
 [-0.18183009  0.05019233  1.7362611   0.23339364 -0.38239458 -0.26048318
   0.23094866 -0.08193509 -0.67943187  0.08924067 -0.40026739  0.11227903]
 [ 0.43998831  0.10978532  0.23339362  0.49953686  0.07297129 -0.07416831
  -0.39880948  0.15572711 -0.30260676 -0.11500508 -0.35594926 -0.23484387]
 [ 0.15332526 -0.01954318 -0.38239458  0.07297129  0.16061974  0.07977896
  -0.14148809  0.08090816  0.01635423 -0.03547181  0.00431363 -0.05842104]
 [-0.35608767 -0.25393454 -0.26048318 -0.07416831  0.07977897  0.48926913
   0.08037689 -0.05497876 -0.00630584  0.27248864  0.20758507 -0.0290964 ]
 [-0.49158457 -0.13581225  0.23094866 -0.39880946 -0.14148809  0.08037689
   0.44949165 -0.15941707  0.05685233  0.16872974  0.23864193  0.25348232]
 [ 0.24729906  0.05647512 -0.08193509  0.15572711  0.08090816 -0.05497876
  -0.15941707  0.08954426 -0.05657062 -0.09682873 -0.11327328 -0.07163418]
 [-0.0386651   0.03590498 -0.67943186 -0.30260676  0.01635423 -0.00630584
   0.05685233 -0.05657062  0.51969384 -0.06690046  0.27575836  0.01925809]
 [-0.39015561 -0.17758555  0.08924067 -0.11500508 -0.03547181  0.27248864
   0.16872974 -0.09682873 -0.06690046  0.23196233  0.14277583  0.05218088]
 [-0.36638831 -0.13905297 -0.40026739 -0.35594925  0.00431363  0.20758507
   0.23864192 -0.11327328  0.27575836  0.14277583  0.32581262  0.1158104 ]
 [-0.22288626 -0.05020494  0.11227903 -0.23484387 -0.05842104 -0.0290964
   0.25348231 -0.07163418  0.01925809  0.05218088  0.11581041  0.17335029]]